<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/booglestyle.css" rel="stylesheet">
    <title>Boogle | Login</title>
</head>
<body>
<div id="Box">
    <div id="Logo">
        <img src="https://boogle-battleofthebooks.weebly.com/uploads/2/6/0/8/26083305/7611755_orig.png" id="Logo-image" width="50" height="40" alt="Boogle logo">
    </div>
    <div id="Title-block">
        <p id="Title-text">One account. All of Boogle.</p>
    </div>
    <div id="Sub-title">
        <p id="Sub-title-text">Sign in to continue to Bmail</p>
    </div>
    <div id="Sign-in-box">
        <img src="https://image.flaticon.com/icons/svg/281/281756.svg" alt="User icon" id="User-icon-picture">
        <div class="Input-box">
             <input id="Input-box-text" style="width: 300px; height:30px" type="email" placeholder="Enter your Email" required autofocus>
        </div>
        <form>
        <div class="Input-box">
          <input id="Input-box-password-text" style="width: 300px; height:30px" type="password" placeholder="Enter your password" required>
         </div>
        <div id="Submit-in-box">
             <button type="submit" id="Sign-in-button" style="width: 300px; height:30px;">Sign in</button>
        </div>
        </form>
    </div>

</div>
<div id="Create-account">
    <p id="Create-account-text">Create account</p>
</div>
</body>
</html>