<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="/static/css/fakebookstyle.css" rel="stylesheet">
    <title>AFakebookPage</title>
</head>

<body>
    <div id="in-the-middle">
        <h1>Fakebook</h1>

        <b>Search</b> <input id="bigger-better" type="text" placeholder="Search for friends">

        <p id="name"><b>Jason Statham</b></p>

        <img src="https://img.buzzfeed.com/buzzfeed-static/static/enhanced/webdr03/2013/6/21/9/enhanced-buzz-orig-28413-1371819958-17.jpg?downsize=700%3A%2A&output-quality=auto&output-format=auto" alt="Photo of a bald celebrity" width="200" height="200">
        <br>
        <button id="the-button" type="button" onclick="alert('No thank you Turkish, Im sweet enough')" > Sugar? </button>
        <br>
        <p class="category"><strong>City</strong>: Derbishyre</p>
        <p class="category"><strong>Country</strong>: England</p>
        <p class="category"><strong>Age</strong>: 52</p>
        <p class="category"><strong>Occupation</strong>: Actor</p>
        <p class="category"><strong>Friends</strong>: A lot</p>
    </div>
</body>
</html>